header{
    background-color: rgb(112, 202, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 20px;  
    justify-content: center;  
    margin: 0;
   
}
h1 {
    
    font-size: 3.0rem;
    margin: 0;
}
.buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 20px;
}
.button1, .button2, .button3 {
  border: solid 1px black;
  display: inline-block;
  background-color: rgb(214, 209, 209); 
  padding: 2rem 3 rem;
  border-radius: 2px;
  font-size: 1rem;
  color: black;
  text-decoration: none;
}

.button1:hover, .button2:hover, .button3:hover {
    background-color: lightgray;
    color: black;
    transition: background-color 0.3s ease-in-out;
}
#user-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    gap: 20px;;
    border: solid 1px black;
}
.user-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    list-style: none;   
    border: solid 1px black;
    padding: 20px;
    margin: 0; 
     

}
/* add media query for desktop that changes buttons to row layout */
@media (min-width: 768px) {
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;        


    }
    .button1, .button2, .button3 {
        padding: 1rem 2rem;
        font-size: 1.2rem;
        height: 50px;
    }

    
}